
@{
    ViewBag.Title = "Contact";
}

<h2 class="page-header">Contact Me</h2>

<div class="page-section" id="contact">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="content-section">
                <p>I would love to hear from you. Fill out the form below to send me a message.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

                @using (@Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "contact-form" }) )
                {
                @Html.AntiForgeryToken();
                <fieldset class="col-md-4 col-sm-6">
                    <input type="text" id="your-name" name="name" placeholder="Your Name...">
                </fieldset>
                <fieldset class="col-md-4 col-sm-6">
                    <input type="email" id="email" name="email" placeholder="Your Email...">
                </fieldset>
                <fieldset class="col-md-4 col-sm-12">
                    <input type="text" id="your-phone" name="phone" placeholder="Your Phone Number...">
                </fieldset>
                <fieldset class="col-md-12 col-sm-12">
                    <textarea name="message" id="message" cols="30" rows="6" placeholder="Leave your message..."></textarea>
                </fieldset>
                <fieldset class="col-md-12 col-sm-12">
                    <input type="submit" class="btn resume-link" value="Send Message">
                </fieldset>                            
                }

        </div>
    </div> <!-- .contact-form -->
</div>