@{
    ViewBag.Title = "Home Page";
}

<div class="banner-bg" id="top">
    <div class="banner-overlay jumbotron"></div>
    <div class="welcome-text">
        <h2>Eleanor Palmer | Web Developer</h2>
    </div>
</div>
