@{
    ViewBag.Title = "Home Page";
}

<div class="banner-bg" id="top">
    <div class="banner-overlay"></div>
    <div class="welcome-text">
        <h2>Eleanor Palmer</h2>
        <h3 class="profile-title black-text">Thoughts and Reflections of a Web Developer</h3>
    </div>
</div>
