@{
    ViewBag.Title = "Home Page";
}
<div class="banner-bg" id="top">
    <div class="banner-overlay"></div>
    <div class="welcome-text">
        <h2>Eleanor Palmer</h2>
        <h3 class="profile-title black-text">Thoughts and Reflections of a Web Developer</h3>
    </div>
</div>

<div class="page-section">
    <div class="row">
        <div class="col-md-12">
            <h4 class="widget-title">Portfolio</h4>
            <div class="content-section">
                <!-- Content Column -->
                <div class="col-lg-12 blog-content">
                    <p>Welcome to my @Html.ActionLink("blog", "Index", "Posts"), where I document my journey as a web developer. This web application was built as a part of my training at Coder Foundry in Spring 2016. It utilizes the following technologies:</p>
                    <div class="col-md-12 technologies">
                        <img src="~/Content/Images/DotNet.png" alt=".Net"/>
                        <img src="~/Content/Images/csharp.png" alt="C#" />
                        <img src="~/Content/Images/html-grey.png" alt="HTML" />
                        <img src="~/Content/Images/css.png" alt="CSS" />
                        <img src="~/Content/Images/jquery.png" alt="jQuery" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
