.banner-overlay {
  background-size: 100%;
  background-image: url("/Content/Images/notebook.jpg");
  opacity: .7;
}

.welcome-text h2 {
    color: #000;
}

.page-header {
    font-family: "Merriweather", "Times New Roman", serif;
    font-size: 1.5em;
    margin: 15px 0;
    text-align: center;
}

.blog-content {
    padding-bottom: 50px;
}

.blog-content h2 {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.blog-content a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.1em;
}

.blog-content p {
    margin: 10px 0;
}

hr {
    margin-top: 0;
}

.action-link, input[type="submit"] {
    width: auto;
    border-radius: 0;
    border: none;
    background-color: #0B486B;
    display: block;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.action-link a, input[type="submit"] {
    font-family: "Roboto", Arial, sans-serif; 
    font-size: 1.2em;
    color: #fff;
    display: block;
    padding: 10px;
}

.action-link:hover, input[type="submit"]:hover {
    background-color: #6294B1;
    color: #fff;
}

.form-control {
    margin: 10px 0;
}

.form-horizontal .form-group {
    margin: 0;
}

.black-text {
    color: #000 !important;
}